<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated model2 -->
      <package
            uri="http://www.example.com/satellite"
            class="ontology.OntologyPackage"
            genModel="src/main/ecore/ontology.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated model -->
      <package
            uri="https://mom2025.wp.imt.fr/mom-challenge/system_decomposition"
            class="tools.vitruv.methodologisttemplate.model.System_Decomposition.ModelPackage"
            genModel="src/main/ecore/model.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated system_decomposition -->
      <package
            uri="https://mom2025.wp.imt.fr/mom-challenge/system_decomposition"
            class="tools.vitruv.methodologisttemplate.model.System_Decomposition.System_DecompositionPackage"
            genModel="src/main/ecore/system_decomposition.genmodel"/>
   </extension>

<extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ontology -->
      <package
            uri="http://www.example.com/satellite"
            class="tools.vitruv.methodologisttemplate.model.Ontology.OntologyPackage"
            genModel="src/main/ecore/ontology.genmodel"/>
  </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated requirement_specification -->
      <package
            uri="http://www.example.org/requirement_specification"
            class="tools.vitruv.methodologisttemplate.model.requirement_specification.Requirement_SpecificationPackage"
            genModel="src/main/ecore/requirement_specification.genmodel"/>
   </extension>

</plugin>
